## Detecting-patterns-in-purchase-history-using-association-rule-learning-methods

### 1. Experimental Dataset as proof of concept

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [2]:
data_simple_input =[\
["I_0", "I_1", "I_2", "I_3", "I_4", "I_5", "I_7"],
["I_0", "I_2", "I_3", "I_4", "I_5", "I_6", "I_7"],
["I_0", "I_2", "I_3", "I_8"],
["I_0", "I_1", "I_4", "I_6", "I_7", "I_8", "I_9"],
["I_0", "I_1", "I_4", "I_8", "I_9"],
["I_0", "I_1", "I_7", "I_8", "I_9"],
["I_0", "I_5", "I_8"],
["I_0", "I_1", "I_3", "I_9"],
["I_1", "I_2", "I_8"],
["I_1", "I_4", "I_9"]]

# Counts:
# I_0:8
# I_1:7
# I_8:6
# I_4:5
# I_9:5
# I_2:4
# I_3:4
# I_7:4
# I_5:3
# I_6:2

### 1. Traditional alorthms from libraries

#### 1.1 Apriori
APriori is the first tradtional ruiles algorithm.

In [3]:
# Imports
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth

In [4]:
te = TransactionEncoder()
te_ary = te.fit(data_simple_input).transform(data_simple_input)
T = pd.DataFrame(te_ary, columns=te.columns_)
T

     I_0    I_1    I_2    I_3    I_4    I_5    I_6    I_7    I_8    I_9
0   True   True   True   True   True   True  False   True  False  False
1   True  False   True   True   True   True   True   True  False  False
2   True  False   True   True  False  False  False  False   True  False
3   True   True  False  False   True  False   True   True   True   True
4   True   True  False  False   True  False  False  False   True   True
5   True   True  False  False  False  False  False   True   True   True
6   True  False  False  False  False   True  False  False   True  False
7   True   True  False   True  False  False  False  False  False   True
8  False   True   True  False  False  False  False  False   True  False
9  False   True  False  False   True  False  False  False  False   True

In [5]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(T, min_support=0.1,use_colnames=True)
frequent_itemsets

     support                             itemsets
0        0.8                                (I_0)
1        0.7                                (I_1)
2        0.4                                (I_2)
3        0.4                                (I_3)
4        0.5                                (I_4)
..       ...                                  ...
303      0.1       (I_4, I_9, I_1, I_7, I_6, I_8)
304      0.1       (I_4, I_5, I_7, I_6, I_3, I_2)
305      0.1  (I_4, I_1, I_0, I_5, I_7, I_3, I_2)
306      0.1  (I_4, I_9, I_1, I_0, I_7, I_6, I_8)
307      0.1  (I_4, I_0, I_5, I_7, I_6, I_3, I_2)

[308 rows x 2 columns]

In [6]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
rules

     antecedents                     consequents  antecedent support  consequent support  support  confidence      lift  leverage  conviction
0          (I_1)                           (I_0)                 0.7                 0.8      0.5    0.714286  0.892857     -0.06        0.70
1          (I_0)                           (I_1)                 0.8                 0.7      0.5    0.625000  0.892857     -0.06        0.80
2          (I_0)                           (I_2)                 0.8                 0.4      0.3    0.375000  0.937500     -0.02        0.96
3          (I_2)                           (I_0)                 0.4                 0.8      0.3    0.750000  0.937500     -0.02        0.80
4          (I_3)                           (I_0)                 0.4                 0.8      0.4    1.000000  1.250000      0.08         inf
...          ...                             ...                 ...                 ...      ...         ...       ...       ...         ...
5179       (I_5)  (I_4, I_0, I_7, I_6, I_3, I_2)                 0.3                 0.1      0.1    0.333333  3.333333      0.07        1.35
5180       (I_7)  (I_4, I_0, I_5, I_6, I_3, I_2)                 0.4                 0.1      0.1    0.250000  2.500000      0.06        1.20
5181       (I_6)  (I_4, I_0, I_5, I_7, I_3, I_2)                 0.2                 0.2      0.1    0.500000  2.500000      0.06        1.60
5182       (I_3)  (I_4, I_0, I_5, I_7, I_6, I_2)                 0.4                 0.1      0.1    0.250000  2.500000      0.06        1.20
5183       (I_2)  (I_4, I_0, I_5, I_7, I_6, I_3)                 0.4                 0.1      0.1    0.250000  2.500000      0.06        1.20

[5184 rows x 9 columns]

#### 1.2 FP-Growth
FP-Growth gives exactly the same output, but is much more efficient, especially when using big data.

In [7]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(T, min_support=0.5,use_colnames=True)

   support    itemsets
0      0.8       (I_0)
1      0.7       (I_1)
2      0.5       (I_4)
3      0.6       (I_8)
4      0.5       (I_9)
5      0.5  (I_1, I_0)
6      0.5  (I_0, I_8)
7      0.5  (I_9, I_1)

#### 2. Modified implementation of FP-Growth as Basis

#### 2.1 Classical implementation for proving correct algorithm

The modified implementation of FP-Growth will give back the same result as the classical algorithms.
This means, without any date & profit parameter for weighted support, basically thrmalgorithm works as expected.
One fundamental modification has been done, when finding the antecedent leading to the the combined new antecedent & consequent.
The modification only considers "one antecedent", instead of many. The "one antecedent" is taken from the strict tree-structure (path) from high support to low support.
##### Advantages:
- Clearer rules & No duplication of changing antecedent leading to the  same itemset
- Much better performance, especially for big data. All figures can be derived from one Loop through all transactions O(n)-complexity for whole dataset. Inside the paths there is O(n*2) complexity, but the paths are usually very small compared to the whole dataset. Alternatively all combinations of paths have to be looped again
##### Disadvantages:
- Potential loss of information, if onbe rule for a very special antecedent leading to the itemset was decisive

In [8]:
T = pd.read_csv("datasets/proof_of_concept/transactions.csv")
T = T.groupby("transaction",dropna=True)["item"].agg([lambda x: list(x),"count"])
T

                                      <lambda_0>  count
transaction
T_01         [I_0, I_1, I_2, I_3, I_4, I_5, I_7]      7
T_02         [I_0, I_2, I_3, I_4, I_5, I_6, I_7]      7
T_03                        [I_0, I_2, I_3, I_8]      4
T_04         [I_0, I_1, I_4, I_6, I_7, I_8, I_9]      7
T_05                   [I_0, I_1, I_4, I_8, I_9]      5
T_06                   [I_0, I_1, I_7, I_8, I_9]      5
T_07                             [I_0, I_5, I_8]      3
T_08                        [I_0, I_1, I_3, I_9]      4
T_09                   [I_1, I_2, I_8, I_8, I_8]      5
T_10                             [I_1, I_4, I_9]      3

In [9]:
import modified_fp_growth_algorithm.modified_fp_growth_latest as mod_fp_growth

rules = mod_fp_growth.fpgrowthFromDataFrame(T, minSupRatio=0.1, maxSupRatio=1, minConf=0.1, item_col=1) #Traditional Association Rules
rules

                         antecedent sup_antecedent percSupAntecedent consequent  sup_consequent  percSupConsequent                antecedent&consequent  sup_ant&cons  sup_perc_ant&cons confidence      lift improvement
0                                []             NA                NA      [I_0]               8                0.8                                [I_0]             8                0.8         NA        NA          NA
1                                []             NA                NA      [I_1]               7                0.7                                [I_1]             7                0.7         NA        NA          NA
2                                []             NA                NA      [I_8]               6                0.6                                [I_8]             6                0.6         NA        NA          NA
3                             [I_0]              8               0.8      [I_1]               7                0.7                           [I_1, I_0]             5                0.5      0.625  0.892857      -0.075
4                                []             NA                NA      [I_9]               5                0.5                                [I_9]             5                0.5         NA        NA          NA
..                              ...            ...               ...        ...             ...                ...                                  ...           ...                ...        ...       ...         ...
303       [I_1, I_0, I_7, I_3, I_2]              1               0.1      [I_5]               3                0.3       [I_1, I_0, I_5, I_7, I_3, I_2]             1                0.1        1.0  3.333333         0.7
304                 [I_4, I_3, I_0]              2               0.2      [I_6]               2                0.2                 [I_4, I_6, I_3, I_0]             1                0.1        0.5       2.5         0.3
305       [I_4, I_1, I_7, I_3, I_2]              1               0.1      [I_5]               3                0.3       [I_4, I_1, I_5, I_7, I_3, I_2]             1                0.1        1.0  3.333333         0.7
306  [I_4, I_1, I_0, I_7, I_3, I_2]              1               0.1      [I_5]               3                0.3  [I_4, I_1, I_0, I_5, I_7, I_3, I_2]             1                0.1        1.0  3.333333         0.7
307                 [I_7, I_4, I_1]              2               0.2      [I_5]               3                0.3                 [I_7, I_4, I_1, I_5]             1                0.1        0.5  1.666667         0.2

[308 rows x 12 columns]

#### 2.2 Weighted support with date-decay function

The idea of a date support decay function is, that recent transactions should have normally more weight, than older ones.
There are used the following paramters:
x will be determined between [0,1]
- max_date=datetime.datetime(2022, 11, 10),
-> This is the max date, x of max_date is 1
- date_range=10,
-> This is the range of x, max_date - range = 0
- date_sensitivity = lambda x: 1 / (1 + math.exp(-10*x+5))
-> This is the function used for date exemplatory. It is a modfied sigmoid, using the curve range [0,1] to represent date decay
-> This has still to be calibrated and could differ for every new Dataset. For example the curve could be rather flat around 1 for only a small effect
-> In the example with lambda x: 1 / (1 + math.exp(-10*x+5)), the curve is quite extreme and maybe overvalues recent events

In [10]:
T = pd.read_csv("datasets/proof_of_concept/transactions.csv")
T["date"] = pd.to_datetime(T["date"],format='%Y-%m-%d')
T = T.groupby("transaction",dropna=True)["item","date"].agg([lambda x: list(x)])
T

C:\Users\david\AppData\Local\Temp/ipykernel_6872/658750622.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  T = T.groupby("transaction",dropna=True)["item","date"].agg([lambda x: list(x)])

                                            item                                               date
                                        <lambda>                                           <lambda>
transaction
T_01         [I_0, I_1, I_2, I_3, I_4, I_5, I_7]  [2022-11-01 00:00:00, 2022-11-01 00:00:00, 202...
T_02         [I_0, I_2, I_3, I_4, I_5, I_6, I_7]  [2022-11-02 00:00:00, 2022-11-02 00:00:00, 202...
T_03                        [I_0, I_2, I_3, I_8]  [2022-11-02 00:00:00, 2022-11-03 00:00:00, 202...
T_04         [I_0, I_1, I_4, I_6, I_7, I_8, I_9]  [2022-11-04 00:00:00, 2022-11-04 00:00:00, 202...
T_05                   [I_0, I_1, I_4, I_8, I_9]  [2022-11-05 00:00:00, 2022-11-05 00:00:00, 202...
T_06                   [I_0, I_1, I_7, I_8, I_9]  [2022-11-06 00:00:00, 2022-11-06 00:00:00, 202...
T_07                             [I_0, I_5, I_8]  [2022-11-07 00:00:00, 2022-11-07 00:00:00, 202...
T_08                        [I_0, I_1, I_3, I_9]  [2022-11-08 00:00:00, 2022-11-08 00:00:00, 202...
T_09                   [I_1, I_2, I_8, I_8, I_8]  [2022-11-09 00:00:00, 2022-11-09 00:00:00, 202...
T_10                             [I_1, I_4, I_9]  [2022-11-10 00:00:00, 2022-11-10 00:00:00, 202...

In [11]:
import math
import datetime

rules = mod_fp_growth.fpgrowthFromDataFrame(\
    T,
    minSupRatio=0.4,
    maxSupRatio=1,
    minConf=0.5,
    item_col=1,
    date_col=2,
    max_date=datetime.datetime(2022, 11, 10),
    date_range=10,
    date_sensitivity = lambda x: 1 / (1 + math.exp(-10*x+5))
    ) #Only Date

rules

   antecedent sup_antecedent percSupAntecedent consequent  sup_consequent  percSupConsequent antecedent&consequent  sup_ant&cons  sup_perc_ant&cons confidence      lift improvement
0          []             NA                NA      [I_1]        4.445881           0.820042                 [I_1]      4.445881           0.820042         NA        NA          NA
1          []             NA                NA      [I_8]        3.482014           0.642257                 [I_8]      3.482014           0.642257         NA        NA          NA
2          []             NA                NA      [I_0]        3.446209           0.635652                 [I_0]      3.446209           0.635652         NA        NA          NA
3          []             NA                NA      [I_9]        3.445881           0.635592                 [I_9]      3.445881           0.635592         NA        NA          NA
4       [I_1]       4.445881          0.820042      [I_9]        3.445881           0.635592            [I_9, I_1]      3.445881           0.635592   0.775073   1.21945    0.139481
5       [I_1]       4.445881          0.820042      [I_8]        3.482014           0.642257            [I_1, I_8]      2.482014           0.457807   0.558273  0.869236   -0.083984
6       [I_1]       4.445881          0.820042      [I_0]        3.446209           0.635652            [I_1, I_0]      2.470560           0.455694   0.555696  0.874214   -0.079956
7       [I_0]       3.446209          0.635652      [I_9]        3.445881           0.635592            [I_9, I_0]      2.452574           0.452377   0.711673  1.119701    0.076081
8  [I_1, I_0]        2.47056          0.455694      [I_9]        3.445881           0.635592       [I_9, I_1, I_0]      2.452574           0.452377    0.99272  1.561882    0.357128
9       [I_8]       3.482014          0.642257      [I_0]        3.446209           0.635652            [I_0, I_8]      2.428223           0.447885   0.697362   1.09708    0.061709

#### 2.3 Weighted support with profit-dependent function

The main driver for business it not the frequency of items, but the proftibility. One can normally assume, that more frequent items are lower in price, higher in margin, but can be equal with not frequent but highly priced articles.
I've reas in one article, one reason association rules are not applied that often is the lack of relevance. Frequency is only one part, but not the ultimate driver for business.
Instead of just counting each transaction, we weight each article of every transation and set it in a relationship with association rules.
The result has to be interpreted carefully. It cannot be interpreted the same as the traditional methods. The sup_ant&cons is just the profit resulting from a relation. The % of sup_ant&cons represents the percentage of the whole profit of sum of all articles.

The interference of profit and frequency could be solved post association rules creation by business when later connecting all frequencies with profit from articles. However, there we have the problem, that we sorted out the least frequent articles already because of performance or releance and lose crucial relations. Moreover this approach would be not that straightforward.

In [12]:
T = pd.read_csv("datasets/proof_of_concept/transactions.csv")
T = T.groupby("transaction",dropna=True)["item","profit"].agg([lambda x: list(x)])
T

C:\Users\david\AppData\Local\Temp/ipykernel_6872/1620300645.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  T = T.groupby("transaction",dropna=True)["item","profit"].agg([lambda x: list(x)])

                                            item                         profit
                                        <lambda>                       <lambda>
transaction
T_01         [I_0, I_1, I_2, I_3, I_4, I_5, I_7]   [10, 20, 30, 40, 50, 60, 80]
T_02         [I_0, I_2, I_3, I_4, I_5, I_6, I_7]   [10, 30, 40, 50, 60, 70, 80]
T_03                        [I_0, I_2, I_3, I_8]               [10, 30, 40, 90]
T_04         [I_0, I_1, I_4, I_6, I_7, I_8, I_9]  [10, 20, 50, 70, 80, 90, 100]
T_05                   [I_0, I_1, I_4, I_8, I_9]          [10, 20, 50, 90, 100]
T_06                   [I_0, I_1, I_7, I_8, I_9]          [10, 20, 80, 90, 100]
T_07                             [I_0, I_5, I_8]                   [10, 60, 90]
T_08                        [I_0, I_1, I_3, I_9]              [10, 20, 40, 100]
T_09                   [I_1, I_2, I_8, I_8, I_8]           [20, 30, 90, 90, 90]
T_10                             [I_1, I_4, I_9]                  [20, 50, 100]

In [13]:
import math
import datetime

rules = mod_fp_growth.fpgrowthFromDataFrame(\
    T,
    minSupRatio=0.1,
    maxSupRatio=1,
    minConf=0,
    item_col=1,
    profit_col=2,
    max_profit = 100,
    profit_sensitivity = lambda x : 1 * x
    ) #Only Profit
rules

   antecedent sup_antecedent percSupAntecedent consequent  sup_consequent  percSupConsequent antecedent&consequent  sup_ant&cons  sup_perc_ant&cons confidence      lift improvement  profit_associated  perc_of_total_profit  profit_associated_prev  net_change  profit_last_item  loss_by_change
0          []             NA                NA      [I_8]               6                0.6                 [I_8]             6                0.6         NA        NA          NA              720.0              0.275862                     0.0       720.0             720.0             0.0
1       [I_8]              6               0.6      [I_9]               5                0.5            [I_9, I_8]             3                0.3        0.5       1.0         0.0              660.0              0.252874                   720.0       -60.0             300.0          -360.0
2  [I_9, I_8]              3               0.3      [I_7]               4                0.4       [I_7, I_9, I_8]             2                0.2   0.666667  1.666667    0.266667              600.0              0.229885                   660.0       -60.0             160.0          -220.0
3          []             NA                NA      [I_9]               5                0.5                 [I_9]             5                0.5         NA        NA          NA              500.0              0.191571                     0.0       500.0             500.0             0.0
4       [I_8]              6               0.6      [I_7]               4                0.4            [I_7, I_8]             2                0.2   0.333333  0.833333   -0.066667              400.0              0.153257                   720.0      -320.0             160.0          -480.0
5       [I_9]              5               0.5      [I_7]               4                0.4            [I_7, I_9]             2                0.2        0.4       1.0         0.0              360.0              0.137931                   500.0      -140.0             160.0          -300.0
6          []             NA                NA      [I_7]               4                0.4                 [I_7]             4                0.4         NA        NA          NA              320.0              0.122605                     0.0       320.0             320.0             0.0

#### 2.4 Combined weighted suppport of date-decay and profit dependent function

Now as a last step we combine the date decay function with the the profit measure view.
It will consider both.

In [14]:
T = pd.read_csv("datasets/proof_of_concept/transactions.csv")
T["date"] = pd.to_datetime(T["date"],format='%Y-%m-%d')
T = T.groupby("transaction",dropna=True)["item","date","profit"].agg([lambda x: list(x)])
T

C:\Users\david\AppData\Local\Temp/ipykernel_6872/815056449.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  T = T.groupby("transaction",dropna=True)["item","date","profit"].agg([lambda x: list(x)])

                                            item                                               date                         profit
                                        <lambda>                                           <lambda>                       <lambda>
transaction
T_01         [I_0, I_1, I_2, I_3, I_4, I_5, I_7]  [2022-11-01 00:00:00, 2022-11-01 00:00:00, 202...   [10, 20, 30, 40, 50, 60, 80]
T_02         [I_0, I_2, I_3, I_4, I_5, I_6, I_7]  [2022-11-02 00:00:00, 2022-11-02 00:00:00, 202...   [10, 30, 40, 50, 60, 70, 80]
T_03                        [I_0, I_2, I_3, I_8]  [2022-11-02 00:00:00, 2022-11-03 00:00:00, 202...               [10, 30, 40, 90]
T_04         [I_0, I_1, I_4, I_6, I_7, I_8, I_9]  [2022-11-04 00:00:00, 2022-11-04 00:00:00, 202...  [10, 20, 50, 70, 80, 90, 100]
T_05                   [I_0, I_1, I_4, I_8, I_9]  [2022-11-05 00:00:00, 2022-11-05 00:00:00, 202...          [10, 20, 50, 90, 100]
T_06                   [I_0, I_1, I_7, I_8, I_9]  [2022-11-06 00:00:00, 2022-11-06 00:00:00, 202...          [10, 20, 80, 90, 100]
T_07                             [I_0, I_5, I_8]  [2022-11-07 00:00:00, 2022-11-07 00:00:00, 202...                   [10, 60, 90]
T_08                        [I_0, I_1, I_3, I_9]  [2022-11-08 00:00:00, 2022-11-08 00:00:00, 202...              [10, 20, 40, 100]
T_09                   [I_1, I_2, I_8, I_8, I_8]  [2022-11-09 00:00:00, 2022-11-09 00:00:00, 202...           [20, 30, 90, 90, 90]
T_10                             [I_1, I_4, I_9]  [2022-11-10 00:00:00, 2022-11-10 00:00:00, 202...                  [20, 50, 100]

In [19]:
import math
import datetime

rules = mod_fp_growth.fpgrowthFromDataFrame(
    T,
    # General parameters
    minSupRatio=0.1,
    maxSupRatio=1,
    minConf=0.5,
    item_col=1,
    # Date parameters
    date_col=2,
    max_date=datetime.datetime(2022, 11, 10),
    date_range=10,
    date_sensitivity = lambda x: 1 / (1 + math.exp(-10*x+5)),
    # Profit parameters
    profit_col=3,
    max_profit = 100,
    profit_sensitivity = lambda x : 1 * x
    )

rules.to_excel("fp_groth_out.xlsx",index=False)
rules

                   antecedent sup_antecedent percSupAntecedent consequent  sup_consequent  percSupConsequent           antecedent&consequent  sup_ant&cons  sup_perc_ant&cons confidence       lift improvement  profit_associated  perc_of_total_profit  profit_associated_prev  net_change  profit_last_item  loss_by_change
0                          []             NA                NA      [I_8]        3.482014           0.642257                           [I_8]      3.482014           0.642257         NA         NA          NA         417.841655              0.361120                0.000000  417.841655        417.841655    0.000000e+00
1                       [I_1]       4.445881          0.820042      [I_9]        3.445881           0.635592                      [I_9, I_1]      3.445881           0.635592   0.775073    1.21945    0.139481         413.505753              0.357373               88.917626  324.588128        344.588128   -2.000000e+01
2                  [I_1, I_8]       2.482014          0.457807      [I_9]        3.445881           0.635592                 [I_9, I_1, I_8]      1.500000           0.276675   0.604348   0.950843   -0.031244         360.000000              0.311131              347.481931   12.518069        150.000000   -1.374819e+02
3                       [I_1]       4.445881          0.820042      [I_8]        3.482014           0.642257                      [I_1, I_8]      2.482014           0.457807   0.558273   0.869236   -0.083984         347.481931              0.300312               88.917626  258.564305        297.841655   -3.927735e+01
4                          []             NA                NA      [I_9]        3.445881           0.635592                           [I_9]      3.445881           0.635592         NA         NA          NA         344.588128              0.297811                0.000000  344.588128        344.588128    0.000000e+00
5             [I_9, I_1, I_8]            1.5          0.276675      [I_7]        1.065412           0.196515            [I_7, I_9, I_1, I_8]      1.000000           0.184450   0.666667   3.392446    0.470152         320.000000              0.276561              360.000000  -40.000000         80.000000   -1.200000e+02
6                  [I_9, I_8]            1.5          0.276675      [I_7]        1.065412           0.196515                 [I_7, I_9, I_8]      1.000000           0.184450   0.666667   3.392446    0.470152         300.000000              0.259276              330.000000  -30.000000         80.000000   -1.100000e+02
7                  [I_9, I_1]       3.445881          0.635592      [I_4]        1.827661           0.337112                 [I_4, I_9, I_1]      1.762249           0.325046   0.511407   1.517027    0.174296         299.582257              0.258914              413.505753 -113.923496         88.112429   -2.020359e+02
8                       [I_9]       3.445881          0.635592      [I_4]        1.827661           0.337112                      [I_4, I_9]      1.762249           0.325046   0.511407   1.517027    0.174296         264.337286              0.228454              344.588128  -80.250842         88.112429   -1.683633e+02
9             [I_9, I_1, I_8]            1.5          0.276675      [I_4]        1.827661           0.337112            [I_4, I_9, I_1, I_8]      0.768941           0.141831   0.512628   1.520647    0.175516         222.993012              0.192722              360.000000 -137.006988         38.447071   -1.754541e+02
10                 [I_9, I_8]            1.5          0.276675      [I_4]        1.827661           0.337112                 [I_4, I_9, I_8]      0.768941           0.141831   0.512628   1.520647    0.175516         207.614184              0.179431              330.000000 -122.385816         38.447071   -1.608329e+02
11  [I_4, I_9, I_1, I_7, I_8]       0.268941          0.049606      [I_6]        0.316367           0.058354  [I_4, I_9, I_1, I_7, I_6, I_8]      0.268941           0.049606        1.0  17.136822    0.941646         118.334225              0.102271               99.508326   18.825899         18.825899    3.552714e-15